baseURL = "https://domain.tld"
theme = "adam_eve"
DefaultContentLanguage = "fr"

[Languages]
[Languages.fr]
languageCode = "fr"
title = "Recueil d'astuces"

[Languages.en]
languageCode = "en"
title = "Tip and tricks"

[Languages.fr.params]
description = "Wiki de partage de connaissances"

[Languages.en.params]
description = "Sharing knowledge wiki"

[[Languages.fr.menu.main]]
    name = "Accueil"
    pre = "<span class='homepage'>⌂</span>"
    weight = -110
    identifier = "homepage"
    url = "/"

[[Languages.en.menu.main]]
    name = "Homepage"
    pre = "<span class='homepage'>⌂</span>"
    weight = -110
    identifier = "homepage"
    url = "/"

