baseURL = "https://example.org"
theme = "hugo_theme_adam_eve"
DefaultContentLanguage = "en"
# Enable Emoji, regarding https://www.webfx.com/tools/emoji-cheat-sheet/
enableEmoji = true

[module]
  [module.hugoVersion]
    extended = true
    min = "0.158.0"

[params]
  # nohomebar = do not display a menu on homepage. If false: display it!
  nohomebar = true
  # showthemetoggle. If true, display an emoji to switch theme (dark/light/system).
  showthemetoggle = true

[outputs]
  home = ["HTML", "RSS", "JSON"]

[Languages]
[Languages.fr]
locale = "fr"
title = "Recueil d'astuces"

[Languages.en]
locale = "en"
title = "Tip and tricks"

[Languages.fr.params]
description = "Wiki de partage de connaissances"

[Languages.en.params]
description = "Sharing knowledge wiki"

[markup]
  [markup.tableOfContents]
    endLevel = 6
    ordered = false
    startLevel = 1
