/* Common pages colors/display */
a:active, a:link, a:visited, a:hover {
  color: #2b73b7;
  text-decoration: none;
}

h1 {
  text-align: left;
  color: #e52c5a;
}

h2 {
  margin-left: 7px;
}

h3, h4, h5, h6 {
  margin-left: 15px;
}

h1#site_title {
  text-align: center;
  color: black;
}

h6 {
  text-decoration: underline;
}

main a:active, main a:link, main a:visited, main a:hover {
 color: #080; // comment this line if you planned to use 'internal' shortcode
}

blockquote {
  padding: 0.5rem 1rem;
  border-left: 0.3rem solid #e5e5e5;
  background-color: #f9f9f9;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
  border: thin solid #ccc;
}

table {
  margin: 15px auto;
  width: 100%;
}

table th {
  background: black;
  color: white;
  text-align: center;
}

table tr:nth-child(odd) {
  background: #eeeeee;
}

p img {
  display: block;
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 0 .5em #999;
}

.chromoji {
  box-shadow: none;
}


/* Shortcode 'nolink' */
span.nolink {
  color: red;
/*  border-bottom: 1px dashed;*/
}


/* Shortcode 'remote' */
a.remote:active, a.remote:link, a.remote:visited, a.remote:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAABdklEQVR4AWMgAVRo1zY3rGk41rC+rqvCBCJWBpPM4WoomLHtdtuv/t9Lfk263TtrQ0t7Oj9cbzZDc/W6s/8T7khD+P+F/8bv29PZlswJVVBu0vPuVZyNYHFZbmAqE1SR0cbjXR6pjGBO58am962Ta3e3ftqy6B5LCcMasOj7gInrm9jBzI4vTX+bfjT/7/4/p/w/zFXybUmt71u4wJzGfxP/t/xvA+KaP2XnQSKVFpWPav/U/6+HKJjz++OVJUDp1n9N/+r+19QyMCz1mPC/8X/X/26Igrn3GiUeL5n/v+F/8//6/9NOMTC0hDUDefP/L4MoOL6ickVeSQ1QqAGooPdBJE/lnloge/fhixBHftFd9bLkR83/+n/1QAXVP8qX1Pyv/L/s/12f/4xQNz8s3Pa/6X/Vvzqgour/5f/r/q//f2fmLy54WP7lfJN74eMSoKIyoNFz/5/+9ar+Px9aZL3Xfjvz7aO3/96+eLvsnSVE7CPhOAYA9nvIX0UoNU8AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 0 0 0 18px;
  word-wrap: break-word;
  color: #2b73b7;
}


/* Shortcode 'internal' */
a.internal:active, a.internal:link, a.internal:visited, a.internal:hover {
  color: #080;
  text-decoration: none;
}


/* Shortcode 'note' */
div.note {
  margin: 2em;
  border-radius: 20px;
  text-align: justify;
  vertical-align: middle;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 70% !important;
  min-height: 40px;
  clear: both;
  padding: 15px 20px 15px 80px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
}

div.warning {
  background-color: #fdd;
  background-image: url({{ printf "%s%s" .Site.BaseURL "/img/warning.png" | absURL }});
}

div.important {
  background-color: #ffc;
  background-image: url({{ printf "%s%s" .Site.BaseURL "/img/important.png" | absURL }});
}

div.tip {
  background-color: #dfd;
  background-image: url({{ printf "%s%s" .Site.BaseURL "/img/tip.png" | absURL }});
}

div.normal {
  background-color: #eef;
  background-image: url({{ printf "%s%s" .Site.BaseURL "/img/note.png" | absURL }});
}

/* CSS counter for chapters/sections */
body {
  counter-reset: chapter;
  font-size: 16pt;
}

h2:before {
  counter-increment: section;
  content: counter(section) ". ";
}

h1 {
  counter-reset: section;
}

h2 {
  counter-reset: subsection;
}

h3:before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";

}

/* For big displays/screens */
@media (min-width: 960px) {
  html, body {
    width: 960px;
    margin: 0 auto;
  }
}
